html > * {
    background: #404040;
}

.header {
    overflow: hidden;
    background-color: #202020;
    padding: 10px 25px;
}

.header a {
    float: left;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 26px;
    line-height: 25px;
    margin: 10px 10px;
}

.header-right {
    float: right;
}

.header-right a {
    padding: 10px;
    font-size: 18px;
}

.header-right a:hover {
    background-color: #ffc107;
    color: black;
}

.header-right .active {
    background-color: #ffc107;
    color: black;
}

.main-wrapper {
    text-align: center;
    padding: 25px 5px 5px 5px;
}

.loader {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 5px solid white;
    border-top: 5px solid #ffc107;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
.loader-shown {
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form {
    width: 50%;
    margin: auto;
    min-width: 630px;
}

.form > *{
    width: 100%;
}

.custom-file-label {
    text-align: left;
}

@media screen and (max-width: 640px) {
    .header a {
        display: block;
        float: none;
        text-align: center;
    }

    .header-right {
        float: none;
    }
    
    .home-wrapper {
        width: 100%;
    }
    
    .form {
        width: 100%;
        margin: auto;
        min-width: unset;
    }
    
}