{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block main %}
  <div class="about">
    <h2>About</h2>
    <p>
      This web application scans video frames for faces with specified periods of time
      and makes a plot with that data.
    </p>
    <p><a class="badge badge-warning" href="https://github.com/molokhovdmitry/video-face-amount-recognition-web"><img src="../static/images/github-logo.png">GitHub</a></p>
    <h2>How To Use</h2>
    <p>
      1. Upload a video file with <span>.mp4</span> or <span>.avi</span> file format.
    </p>
    <p class="commentary">
      <em>Higher resolution videos are processed slower.</em>
    </p>
    <p>
      2. Enter a scan period with which a video frame is scanned.
    </p>
    <p class="commentary">
      <em>Application always starts with scanning the first frame.</em>
    </p>
    <p>
      3. Press the "Make a Plot" button to start.      
    </p>
    <p class="commentary">
      <em>Processing can take a while.</em>
    </p>
    <h2>Example with this <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">video</a></h2>
    <h3>Input:</h3>
    <form class="form form-example">
      <div class="input-group mb-3">
          <div class="custom-file">
            <input id="input" type="text" class="custom-file-input" aria-describedby="inputGroupFileAddon01" readonly>
            <label id="inputField" class="custom-file-label" for="inputGroupFile01">giveup.mp4</label>
          </div>
      </div>
      <div class="input-group mb-3">
          <input class="form-control" type="number" min="1" step="1" value="1" readonly>
      </div>
      <button class="btn btn-warning" type="button">Make a Plot</button>
    </form>
    <h3>Output:</h3>
  </div>
  <table class="table table-hover table-dark table-responsive-sm">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Extension</th>
          <th scope="col">Duration</th>
          <th scope="col">FPS</th>
          <th scope="col">Dimensions</th>
          <th scope="col">Scan Period</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <th>giveup</th>
          <th>mp4</th>
          <th>212 second(s)</th>
          <th>25</th>
          <th>1280×720</th>
          <th>1 second(s)</th>
        </tr>
    </tbody>
  </table>
  <div class="plot">
    <canvas id="chart" width="400" height="100"></canvas>
    <script>
        var ctx = document.getElementById('chart').getContext('2d');
        var Chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ timeExample }},
                datasets: [{
                    label: "# of Faces",
                    data: {{ [0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 
                              0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 
                              1, 1, 0, 2, 1, 2, 0, 1, 2, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 
                              0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 
                              0, 0, 0, 0, 0, 1, 3, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 
                              0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 
                              0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 
                              0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 
                              0, 0, 0, 0, 0, 1, 0, 1, 2, 2, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 
                              1, 1, 1, 1, 1, 0] }},
                    backgroundColor: 'rgba(255, 193, 7, 0.7)',
                    barPercentage: '1.0',
                    categoryPercentage: '1.0'
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            labelString: "Faces",
                            fontColor: "white",
                            fontSize: 14,
                            stepSize: 1,
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Faces",
                            fontSize: 14,
                            fontColor: "white"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 12
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Seconds",
                            fontSize: 14,
                            fontColor: "white"
                        }
                    }]
                }
            }
        });
    </script>
  </div>
  <div class="about">
    <h2>Privacy</h2>
    <p>
      Any file you upload/process is deleted from the server instantly after plot completion, 
      but the following information is saved on the database: filename, extension, duration, frames per second, dimensions, scan period 
      of the video file.
    </p>
    <h2>Made with</h2>
    <div class="links">
      <p><a class="badge badge-warning" href="https://github.com/ageitgey/face_recognition"><img src="../static/images/github-logo.png">ageitgey/face_recognition</a></p>
      <p><a class="badge badge-warning" href="https://opencv.org/"><img src="../static/images/opencv-logo.png">OpenCV</a></p>
      <p><a class="badge badge-warning" href="https://ffmpeg.org/"><img src="../static/images/ffmpeg-logo.png">FFmpeg</a></p>
      <p><a class="badge badge-warning" href="https://flask.palletsprojects.com/"><img src="../static/images/flask-logo.png">Flask</a></p>
      <p><a class="badge badge-warning" href="https://getbootstrap.com/"><img src="../static/images/bootstrap-logo.svg">Bootstrap</a></p>
      <p><a class="badge badge-warning" href="https://www.chartjs.org/"><img src="../static/images/chartjs-logo.svg">Chart.js</a></p>
      <p><a class="badge badge-warning" href="https://www.sqlite.org/index.html"><img src="../static/images/sqlite-logo.png">Sqlite</a></p>
    </div>
  </div>
{% endblock %}