{% extends "layout.html" %}

{% block title %}
    Plot
{% endblock %}

{% block main %}
    <table class="table table-hover table-dark table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Extension</th>
                <th scope="col">Duration</th>
                <th scope="col">FPS</th>
                <th scope="col">Dimensions</th>
                <th scope="col">Scan Period</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ videoName }}</th>
                <th>{{ videoExtension }}</th>
                <th>{{ duration }} second(s)</th>
                <th>{{ FPS }}</th>
                <th>{{ dimensions }}</th>
                <th>{{ scanPeriod }} second(s)</th>
            </tr>
        </tbody>
    </table>
    <div class="plot">
        <canvas id="chart" width="400" height="100"></canvas>
        <script>
            var ctx = document.getElementById('chart').getContext('2d');
            var Chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ timeArray }},
                    datasets: [{
                        data: {{ faceArray }},
                        backgroundColor: 'rgba(255, 193, 7, 0.7)',
                        barPercentage: '1.0',
                        categoryPercentage: '1.0'
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                labelString: "Faces",
                                fontColor: "white",
                                fontSize: 14,
                                stepSize: 1,
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "Faces",
                                fontSize: 14,
                                fontColor: "white"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontColor: "white",
                                fontSize: 12
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "Seconds",
                                fontSize: 14,
                                fontColor: "white"
                            }
                        }]
                    }
                }
            });
        </script>
    </div>
{% endblock %}