{% extends "layout.html" %}

{% block title %}
  Video Face Recognition
{% endblock %}

{% block main %}
  <form onsubmit="loadingAnimation()" class="form" action="/" enctype=multipart/form-data method="post">
      <div class="input-group mb-3">
          <div class="custom-file">
            <input id="input" onchange="showFileName()" name="file" accept=".mp4,.avi" type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
            <label id="inputField" class="custom-file-label" for="inputGroupFile01">Choose <strong>.mp4</strong> or <strong>.avi</strong> video file</label>
          </div>
      </div>
      <div class="input-group mb-3">
          <input class="form-control" name="scanPeriod" type="number" min="1" step="1" placeholder="Enter scan period in seconds">
      </div>
      <button class="btn btn-warning" type="submit">Make a Plot</button>
  </form>
  <div id="loader" class="loader"></div>
  <div class="about">
    <p id="warning" class="commentary warning">
      <em>
        Heroku requests are limited to 30 seconds, so processing is possible only with
        short, low resolution videos and a high scan period. Download the project to use
        the application without limitations.
      </em>
    </p>
  </div>
{% endblock %}